.header{
position: sticky;
top:0;
z-index: 1000;
}
.navbar{
    background-color: aquamarine;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
a{
    color: white;
    text-decoration: none;
}
.card{
    border: 2px solid rgb(255, 255, 255);
    width: fit-content;
    height: fit-content;
    padding: 15px;
}
.body{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row ;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
    gap: 1rem;
    
}
.body div{
    flex: 1;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);

}
.grid-item{
    border: 2px solid rgb(245, 240, 240);
    margin-top: 10px;
    margin-left:5px;
    padding: 15px;
    height: 10px    ;
}
body{
    background-color: rgb(61, 59, 59);
    color: white;
}