body{
    background-color: lightblue;
}
h1{
    color: whitesmoke;
    text-align: center;
}
p{
    font-family: Verdana;
    font-size: 20px;
}
p::first-letter{
    font-size: 50px;
    font-family: times new roman;
}
.A{
    display: block ;
}
.card{
    position: relative;
    width: 300px;
    height: fit-content;
    border: 2px solid black;
}
.close{
    position: absolute;
    top: 0;
    right: 30px;
}
.toucher{
    position: fixed;
    bottom: 0rem;
    right: 1rem;
}